Import Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix, classification_report, roc_auc_score
from xgboost import XGBClassifier
import matplotlib.pyplot as plt
import seaborn as sns

Load Features

In [3]:
# Load engineered features from Notebook 02
features = pd.read_csv(
    "data/processed/features.csv",
    parse_dates=['Open time'],
    index_col='Open time'
)

print("Loaded features:", features.shape)
features.head()

Loaded features: (69305, 27)

,open,high,low,close,volume,sma_10,sma_20,ema_10,ema_20,rsi_14,...,lag_5,lag_6,lag_7,lag_8,lag_9,lag_10,lag_11,lag_12,future_close,trend_label
Open time,,,,,,,,,,,,,,,,,,,,,
2018-01-02 00:00:00+00:00,13382.16,13850.00,13382.16,13750.01,466.596114,13312.463,13367.1370,13405.411963,13381.724521,54.624776,...,13240.37,13135.00,13022.00,13018.00,13247.00,13211.39,13017.00,13172.42,13353.78,0
2018-01-02 01:00:00+00:00,13769.98,13800.00,13590.00,13600.00,517.461925,13347.763,13369.1875,13440.791606,13402.512662,60.862247,...,13399.24,13240.37,13135.00,13022.00,13018.00,13247.00,13211.39,13017.00,13127.31,0
2018-01-02 02:00:00+00:00,13611.93,13678.33,13398.00,13522.00,714.534781,13398.163,13356.2670,13455.556769,13413.892408,59.839231,...,13481.01,13399.24,13240.37,13135.00,13022.00,13018.00,13247.00,13211.39,13166.95,0
2018-01-02 03:00:00+00:00,13520.32,13539.98,13231.96,13353.78,666.940106,13431.341,13345.4385,13437.051902,13408.167417,59.411153,...,13452.00,13481.01,13399.24,13240.37,13135.00,13022.00,13018.00,13247.00,13255.98,0
2018-01-02 04:00:00+00:00,13353.78,13480.84,12890.02,13127.31,992.418927,13430.572,13326.8045,13380.735192,13381.419091,47.691809,...,13380.00,13452.00,13481.01,13399.24,13240.37,13135.00,13022.00,13018.00,13343.00,1

Prepare Training Data (X, y)

In [4]:
# Drop columns not usable as input
X = features.drop(['future_close', 'trend_label'], axis=1)
y = features['trend_label']

print("X shape:", X.shape)
print("y shape:", y.shape)

X shape: (69305, 25)
y shape: (69305,)